.container-fluid
  .row
    .col-xs-12
      %h3
        = @challenge.name

  .row
    .col-xs-12.problem-layout
      .row
        .col-xs-12.problem
          = RDiscount.new(@challenge.problem).to_html

      .row
        .col-xs-12
          .col-xs-12.editor-settings
            .row
              .col-xs-3
                %select#language-select
                  %option{value: 'ace/mode/ruby'} Ruby
                  %option{value: 'ace/mode/javascript'} JavaScript
                  %option{value: 'ace/mode/coffee'} CoffeeScript
                  %option{value: 'ace/mode/java'} Java
              .col-xs-3
                %select#keyboard-select
                  %option{value: 'ace/keyboard/vim'} Vim
                  %option{value: 'ace/keyboard/keybinding'} Text
                  %option{value: 'ace/keyboard/emacs'} Emacs

          .row
            .col-xs-12
              #editor<
                class Person

