.container-fluid
  .row
    .col-xs-12
      %h3
        = @challenge.name

  .row
    .col-xs-12.problem-layout
      .row
        .col-xs-12.problem
          = RDiscount.new(@challenge.problem).to_html

      .row
        .col-xs-12.edit-area
          .row
            .col-xs-12
              .dropdown
                %a#iLabel{'role' => :button, 'data-toggle' => :dropdown, 'data-target' => '#', 'href' => ''}
                  Language
                  %span.caret

                %ul.dropdown-menu{'role' => :menu, 'aria-labelledby' => 'dLabel'}
                  %li
                    %a{'data-target' => '#', 'data-language' => 'ace/mode/ruby'} Ruby

                  %li
                    %a{'data-target' => '#', 'data-language' => 'ace/mode/javascript'} JavaScript

          .row
            .col-xs-12
              #editor<
                class Person

