!!! 5
%html{lang: :en}
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %meta{name: 'apple-mobile-web-app-capable', content: 'yes'}

    %title
      'Mentor Match'

    %link{href: '/application.css', rel: :stylesheet, media: 'all'}
    %link{href: 'https://fonts.googleapis.com/css?family=Roboto:700', rel: :stylesheet, media: 'all'}

    %script{type: 'text/javascript', src: '/modernizer.js'}
    
  %body
    .container-fluid
      %h1
        Mentor Match

    %script{type: 'text/javascript', src: '/application.js'}

