<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style type="text/css">
body {
  margin: 0;
  padding: 0;
  min-width: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  padding: 0;
  vertical-align: top;
}
.spacer,
.border {
  font-size: 1px;
  line-height: 1px;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
.image {
  font-size: 0;
  Margin-bottom: 22px;
}
.image img {
  display: block;
}
.logo img {
  display: block;
}
strong {
  font-weight: bold;
}
h1,
h2,
h3,
p,
ol,
ul,
li {
  Margin-top: 0;
}
ol,
ul,
li {
  padding-left: 0;
}
.btn a {
  mso-hide: all;
}
blockquote {
  Margin-top: 0;
  Margin-right: 0;
  Margin-bottom: 0;
  padding-right: 0;
}
.column-top {
  font-size: 54px;
  line-height: 54px;
}
.column-bottom {
  font-size: 9px;
  line-height: 9px;
}
.column {
  text-align: left;
}
.contents {
  width: 100%;
}
.padded {
  padding-left: 92px;
  padding-right: 92px;
}
.wrapper {
  background-color: #f2efe9;
  width: 100%;
  min-width: 620px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
table.wrapper {
  table-layout: fixed;
}
.one-col,
.two-col,
.three-col {
  Margin-left: auto;
  Margin-right: auto;
  width: 600px;
}
.one-col p,
.one-col ol,
.one-col ul {
  Margin-bottom: 22px;
}
.two-col p,
.two-col ol,
.two-col ul {
  Margin-bottom: 21px;
}
.two-col .image {
  Margin-bottom: 21px;
}
.two-col .column-top {
  font-size: 32px;
  line-height: 32px;
}
.two-col .column-bottom {
  font-size: 11px;
  line-height: 11px;
}
.two-col .column {
  width: 290px;
}
.two-col .gutter {
  width: 20px;
  font-size: 1px;
  line-height: 1px;
}
.two-col .padded {
  padding-left: 32px;
  padding-right: 32px;
}
.three-col p,
.three-col ol,
.three-col ul {
  Margin-bottom: 20px;
}
.three-col .image {
  Margin-bottom: 20px;
}
.three-col .column-top {
  font-size: 32px;
  line-height: 32px;
}
.three-col .column-bottom {
  font-size: 12px;
  line-height: 12px;
}
.three-col .column {
  width: 188px;
}
.three-col .gutter {
  width: 18px;
  font-size: 1px;
  line-height: 1px;
}
.three-col .padded {
  padding-left: 32px;
  padding-right: 32px;
}
.wider {
  width: 392px;
}
.narrower {
  width: 188px;
}
@media only screen and (max-width: 620px) {
  [class*=wrapper] {
    min-width: 320px !important;
    width: 100%!important;
  }
  [class*=wrapper] .one-col,
  [class*=wrapper] .two-col,
  [class*=wrapper] .three-col {
    width: 320px !important;
  }
  [class*=wrapper] .column {
    display: block;
    width: 320px !important;
  }
  [class*=wrapper] .padded {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  [class*=wrapper] .full {
    display: none;
  }
  [class*=wrapper] .image {
    margin-bottom: 22px !important;
  }
  [class*=wrapper] .image img {
    height: auto !important;
    width: 100% !important;
  }
}
h1 {
  font-weight: normal;
}
h2 {
  font-weight: bold;
}
h3 {
  font-weight: normal;
  font-style: italic;
}
p,
ol,
ul {
  font-weight: 400;
}
.wrapper {
  background-color: #f2efe9;
}
.wrapper h1,
.wrapper h3,
.wrapper .contents-dark blockquote p {
  font-family: Georgia, serif;
}
.wrapper h2,
.wrapper p,
.wrapper ol,
.wrapper ul,
.wrapper .btn a,
.wrapper .footer div,
.wrapper .footer td,
.wrapper .header .logo,
.wrapper .preheader .title,
.wrapper .preheader .webversion,
.wrapper .image-frame {
  font-family: sans-serif;
}
@media screen and (min-width: 0) {
  .wrapper h2,
  .wrapper p,
  .wrapper ol,
  .wrapper ul,
  .wrapper .btn a,
  .wrapper .footer div,
  .wrapper .footer td,
  .wrapper .header .logo,
  .wrapper .preheader .title,
  .wrapper .preheader .webversion,
  .wrapper .image-frame {
    font-family: Avenir, sans-serif !important;
  }
}
td {
  vertical-align: middle;
}
img a {
  color: #7c7e7f;
}
.border {
  background-color: #f2efe9;
}
td.border {
  width: 1px;
}
tr.border {
  height: 1px;
}
tr.border td {
  line-height: 1px;
}
.hr {
  font-size: 1px;
  line-height: 1px;
}
hr {
  border: 0;
  height: 1px;
  width: 13px;
}
.full-width {
  width: 600px;
}
.image div {
  display: block;
}
.image-frame {
  font-size: 14px;
  color: #7c7e7f;
}
.image-frame a,
.image-frame a:hover {
  color: #7c7e7f;
  text-decoration: none;
}
.padded .image-frame {
  background-color: #f2efe9;
  padding: 6px;
}
.preheader {
  width: 100%;
  background-color: #ebe7e1;
  color: #808080;
}
.preheader .title,
.preheader .webversion,
.preheader .webversion a {
  color: #808080;
  font-size: 10px;
  line-height: 14px;
  text-decoration: none;
}
.preheader .webversion a:hover {
  color: #38434d !important;
}
.preheader .title {
  text-align: left;
  width: 425px;
}
.preheader .webversion {
  text-align: right;
  width: 175px;
}
.preheader .preheader-buffer {
  font-size: 20px;
  line-height: 20px;
  background: #f2efe9;
}
.header {
  width: 600px;
}
.header .logo {
  font-size: 26px;
  line-height: 36px;
  Margin-bottom: 0;
  font-weight: bold;
  color: #38434d;
  padding-top: 12px;
  padding-bottom: 32px;
  text-align: center;
}
.header .logo a {
  text-decoration: none;
  color: #38434d;
}
h2 {
  -webkit-font-smoothing: antialiased;
}
p {
  text-rendering: optimizelegibility;
}
p,
ol,
ul {
  font-size: 13px;
  line-height: 22px;
}
li {
  Margin-bottom: 11px;
}
h1 a,
h2 a,
h3 a {
  text-decoration: none;
}
blockquote {
  font-size: 14px;
  padding-left: 16px;
  Margin: 0;
}
blockquote p {
  font-style: italic;
}
.btn {
  text-align: center;
  Margin-bottom: 22px;
}
.btn a {
  display: inline-block;
  font-size: 12px;
  letter-spacing: 0.05em;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  padding: 10px;
}
.one-col .btn a {
  width: 396px;
}
.two-col .btn a {
  width: 206px;
}
.two-col .column-narrower .btn a,
.three-col .column .btn a {
  width: 104px;
}
.two-col .column-wider .btn a {
  width: 308px;
}
.one-col-feature .btn a {
  width: 334px;
}
.one-col,
.two-col,
.three-col,
.preheader,
.header,
.footer {
  Margin-left: auto;
  Margin-right: auto;
}
.one-col .padded,
.two-col .padded,
.three-col .padded,
.preheader .padded,
.header .padded,
.footer .padded {
  text-align: left;
}
.contents,
.contents-dark {
  width: 100%;
}
.one-col h1 {
  font-size: 22px;
  line-height: 28px;
  Margin-bottom: 18px;
}
.one-col h2 {
  font-size: 16px;
  line-height: 22px;
  Margin-bottom: 16px;
}
.one-col h3 {
  font-size: 16px;
  line-height: 24px;
  Margin-bottom: 14px;
}
.one-col p,
.one-col ol,
.one-col ul {
  font-size: 14px;
  line-height: 22px;
  Margin-bottom: 22px;
}
.one-col ol,
.one-col ul {
  Margin-left: 18px;
}
.one-col li {
  Margin-bottom: 11px;
}
.one-col .image-frame {
  background-color: #f2efe9;
  padding: 8px;
}
.one-col .column-bottom {
  font-size: 32px;
  line-height: 32px;
}
.one-col .hr {
  padding-bottom: 22px;
}
.one-col .contents table:nth-last-child(2) td h1:last-child,
.one-col .contents-dark table:nth-last-child(2) td h1:last-child,
.one-col .contents table:nth-last-child(2) td h2:last-child,
.one-col .contents-dark table:nth-last-child(2) td h2:last-child,
.one-col .contents table:nth-last-child(2) td h3:last-child,
.one-col .contents-dark table:nth-last-child(2) td h3:last-child,
.one-col .contents table:nth-last-child(2) td p:last-child,
.one-col .contents-dark table:nth-last-child(2) td p:last-child,
.one-col .contents table:nth-last-child(2) td ol:last-child,
.one-col .contents-dark table:nth-last-child(2) td ol:last-child,
.one-col .contents table:nth-last-child(2) td ul:last-child,
.one-col .contents-dark table:nth-last-child(2) td ul:last-child {
  Margin-bottom: 22px;
}
.one-col-feature {
  Margin-left: auto;
  Margin-right: auto;
  width: 464px;
}
.one-col-feature .column-top {
  font-size: 54px;
  line-height: 54px;
}
.one-col-feature .column-bottom {
  font-size: 32px;
  line-height: 32px;
}
.one-col-feature .divider {
  width: 100%;
}
.one-col-feature .hr {
  padding-bottom: 22px;
}
.one-col-feature .padded {
  padding-left: 55px;
  padding-right: 55px;
}
.one-col-feature h1 {
  font-size: 22px;
  line-height: 28px;
  Margin-bottom: 18px;
}
.one-col-feature h2 {
  font-size: 16px;
  line-height: 22px;
  Margin-bottom: 16px;
}
.one-col-feature h3 {
  font-size: 16px;
  line-height: 24px;
  Margin-bottom: 14px;
}
.one-col-feature p,
.one-col-feature h1,
.one-col-feature h2,
.one-col-feature h3 {
  text-align: center;
}
.one-col-feature p,
.one-col-feature ol,
.one-col-feature ul {
  font-size: 14px;
  line-height: 22px;
  Margin-bottom: 22px;
}
.one-col-feature ol,
.one-col-feature ul {
  Margin-left: 20px;
  text-align: left;
}
.one-col-feature li {
  Margin-bottom: 11px;
}
.one-col-feature .contents-dark blockquote {
  background-image: url(https://i1.createsend1.com/static/eb/master/06-journal/images/blockquote-bottomright.gif);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  color: #ffffff;
  border-left: none;
  padding: 0;
  Margin: 0;
}
.one-col-feature .contents-dark blockquote p {
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  background-repeat: no-repeat;
  background-position: 0px 0px;
}
.one-col-feature .contents-dark blockquote p:first-child {
  background-image: url(https://i2.createsend1.com/static/eb/master/06-journal/images/blockquote-topleft.gif);
  border-top: 1px solid #ffffff;
  padding-top: 32px;
}
.one-col-feature .contents-dark blockquote p:last-child {
  border-bottom: 1px solid #ffffff;
  padding-bottom: 32px;
}
.one-col-feature .contents-dark table:nth-last-child(2) td h1:last-child,
.one-col-feature .contents-dark table:nth-last-child(2) td h2:last-child,
.one-col-feature .contents-dark table:nth-last-child(2) td h3:last-child,
.one-col-feature .contents-dark table:nth-last-child(2) td p:last-child,
.one-col-feature .contents-dark table:nth-last-child(2) td ol:last-child,
.one-col-feature .contents-dark table:nth-last-child(2) td ul:last-child {
  Margin-bottom: 22px;
}
.two-col td {
  vertical-align: middle;
}
.two-col h1 {
  font-size: 20px;
  line-height: 26px;
  Margin-bottom: 16px;
}
.two-col h2 {
  font-size: 15px;
  line-height: 21px;
  Margin-bottom: 14px;
}
.two-col h3 {
  font-size: 15px;
  line-height: 21px;
  Margin-bottom: 12px;
}
.two-col p,
.two-col ol,
.two-col ul {
  font-size: 13px;
  line-height: 21px;
  Margin-bottom: 21px;
}
.two-col ol,
.two-col ul {
  Margin-left: 15px;
}
.two-col li {
  Margin-bottom: 10px;
}
.two-col .btn {
  Margin-bottom: 21px;
}
.two-col .btn a {
  font-size: 12px;
  line-height: 18px;
}
.two-col .hr {
  padding-bottom: 21px;
}
.two-col .contents table:nth-last-child(2) td h1:last-child,
.two-col .contents-dark table:nth-last-child(2) td h1:last-child,
.two-col .contents table:nth-last-child(2) td h2:last-child,
.two-col .contents-dark table:nth-last-child(2) td h2:last-child,
.two-col .contents table:nth-last-child(2) td h3:last-child,
.two-col .contents-dark table:nth-last-child(2) td h3:last-child,
.two-col .contents table:nth-last-child(2) td p:last-child,
.two-col .contents-dark table:nth-last-child(2) td p:last-child,
.two-col .contents table:nth-last-child(2) td ol:last-child,
.two-col .contents-dark table:nth-last-child(2) td ol:last-child,
.two-col .contents table:nth-last-child(2) td ul:last-child,
.two-col .contents-dark table:nth-last-child(2) td ul:last-child {
  Margin-bottom: 21px;
}
.two-col .column-wider {
  width: 392px;
}
.two-col .column-wider .btn a {
  font-size: 12px;
  line-height: 18px;
}
.two-col .column-narrower,
.three-col .column {
  width: 188px;
}
.two-col .column-narrower h1,
.three-col .column h1 {
  font-size: 18px;
  line-height: 24px;
  Margin-bottom: 14px;
}
.two-col .column-narrower h2,
.two-col .column-narrower h3,
.three-col .column h2,
.three-col .column h3 {
  font-size: 13px;
  line-height: 19px;
}
.two-col .column-narrower h2,
.three-col .column h2 {
  Margin-bottom: 12px;
}
.two-col .column-narrower h3,
.three-col .column h3 {
  Margin-bottom: 10px;
}
.two-col .column-narrower p,
.two-col .column-narrower ol,
.two-col .column-narrower ul,
.three-col .column p,
.three-col .column ol,
.three-col .column ul {
  font-size: 12px;
  line-height: 20px;
  Margin-bottom: 20px;
}
.two-col .column-narrower ol,
.two-col .column-narrower ul,
.three-col .column ol,
.three-col .column ul {
  Margin-left: 15px;
}
.two-col .column-narrower li,
.three-col .column li {
  Margin-bottom: 10px;
}
.two-col .column-narrower blockquote,
.three-col .column blockquote {
  padding-left: 10px;
}
.two-col .column-narrower .btn a,
.three-col .column .btn a {
  font-size: 10px;
  line-height: 16px;
}
.two-col .column-narrower .image,
.three-col .column .image {
  Margin-bottom: 20px;
}
.two-col .column-narrower .padded .image-frame,
.three-col .column .padded .image-frame {
  padding: 4px;
}
.two-col .column-narrower .hr,
.three-col .column .hr {
  padding-bottom: 20px;
}
.two-col .column-narrower .contents table:nth-last-child(2) td h1:last-child,
.two-col .column-narrower .contents-dark table:nth-last-child(2) td h1:last-child,
.two-col .column-narrower .contents table:nth-last-child(2) td h2:last-child,
.two-col .column-narrower .contents-dark table:nth-last-child(2) td h2:last-child,
.two-col .column-narrower .contents table:nth-last-child(2) td h3:last-child,
.two-col .column-narrower .contents-dark table:nth-last-child(2) td h3:last-child,
.two-col .column-narrower .contents table:nth-last-child(2) td p:last-child,
.two-col .column-narrower .contents-dark table:nth-last-child(2) td p:last-child,
.two-col .column-narrower .contents table:nth-last-child(2) td ol:last-child,
.two-col .column-narrower .contents-dark table:nth-last-child(2) td ol:last-child,
.two-col .column-narrower .contents table:nth-last-child(2) td ul:last-child,
.two-col .column-narrower .contents-dark table:nth-last-child(2) td ul:last-child,
.three-col .column .contents table:nth-last-child(2) td h1:last-child,
.three-col .column .contents-dark table:nth-last-child(2) td h1:last-child,
.three-col .column .contents table:nth-last-child(2) td h2:last-child,
.three-col .column .contents-dark table:nth-last-child(2) td h2:last-child,
.three-col .column .contents table:nth-last-child(2) td h3:last-child,
.three-col .column .contents-dark table:nth-last-child(2) td h3:last-child,
.three-col .column .contents table:nth-last-child(2) td p:last-child,
.three-col .column .contents-dark table:nth-last-child(2) td p:last-child,
.three-col .column .contents table:nth-last-child(2) td ol:last-child,
.three-col .column .contents-dark table:nth-last-child(2) td ol:last-child,
.three-col .column .contents table:nth-last-child(2) td ul:last-child,
.three-col .column .contents-dark table:nth-last-child(2) td ul:last-child {
  Margin-bottom: 20px;
}
.three-col .column .btn a {
  letter-spacing: 0.03em;
}
.three-col .contents table:nth-last-child(2) td h1:last-child,
.three-col .contents-dark table:nth-last-child(2) td h1:last-child,
.three-col .contents table:nth-last-child(2) td h2:last-child,
.three-col .contents-dark table:nth-last-child(2) td h2:last-child,
.three-col .contents table:nth-last-child(2) td h3:last-child,
.three-col .contents-dark table:nth-last-child(2) td h3:last-child,
.three-col .contents table:nth-last-child(2) td p:last-child,
.three-col .contents-dark table:nth-last-child(2) td p:last-child,
.three-col .contents table:nth-last-child(2) td ol:last-child,
.three-col .contents-dark table:nth-last-child(2) td ol:last-child,
.three-col .contents table:nth-last-child(2) td ul:last-child,
.three-col .contents-dark table:nth-last-child(2) td ul:last-child {
  Margin-bottom: 20px;
}
.contents {
  background-color: #ffffff;
}
.contents h1,
.contents h2,
.contents h3 {
  color: #38434d;
}
.contents h1 a,
.contents h2 a,
.contents h3 a {
  color: #38434d;
  text-decoration: none;
  transition: color .2s;
}
.contents p,
.contents ol,
.contents ul,
.contents li,
.contents blockquote p {
  color: #7c7e7f;
}
.contents p a,
.contents ol a,
.contents ul a,
.contents li a {
  color: #cab790;
  text-decoration: underline;
}
.contents p a:hover,
.contents ol a:hover,
.contents ul a:hover,
.contents li a:hover {
  color: #a5894f !important;
}
.contents blockquote {
  border-left: 2px solid #f2efe9;
}
.contents hr {
  color: #38434d;
  background-color: #38434d;
}
.contents .btn a {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  background-color: #38434d;
  color: #ffffff;
  transition: background-color 0.2s, border-color 0.2s;
}
.contents .btn a:hover {
  background-color: #cab790 !important;
  color: #ffffff !important;
  outline-color: #cab790 !important;
}
.contents-dark {
  background-color: #38434d;
}
.contents-dark blockquote {
  border-left: 2px solid #f2efe9;
}
.one-col-feature .contents-dark blockquote p {
  color: #ffffff;
}
.contents-dark p,
.contents-dark ol,
.contents-dark ul,
.contents-dark li,
.contents-dark blockquote p {
  color: #e0e0e0;
}
.contents-dark p a,
.contents-dark ol a,
.contents-dark ul a,
.contents-dark li a {
  color: #cab790;
  text-decoration: underline;
}
.contents-dark p a:hover,
.contents-dark ol a:hover,
.contents-dark ul a:hover,
.contents-dark li a:hover {
  color: #a5894f !important;
}
.contents-dark h1 {
  text-shadow: 0 1px 0 #000000;
}
.contents-dark h1,
.contents-dark h2,
.contents-dark h3 {
  color: #ffffff;
}
.contents-dark h1 a,
.contents-dark h2 a,
.contents-dark h3 a {
  color: #ffffff;
}
.contents-dark hr {
  color: #ffffff;
  background-color: #ffffff;
}
.contents-dark .btn a {
  background-color: #cab790;
  color: #38434d;
  text-shadow: 0 1px 0 #e3d9c4;
  transition: background-color 0.2s, border-color 0.2s;
}
.contents-dark .btn a:hover {
  background-color: #c9ae75!important;
  color: #38434d !important;
  outline-color: #cab790 !important;
}
.footer {
  width: 100%;
  background-color: #ebe7e1;
}
.footer .one-col .hr {
  padding: 10px 0 10px 0;
  display: block;
}
.footer .one-col hr {
  color: #cab790;
  background-color: #cab790;
  text-align: left;
  Margin-left: 0;
}
.footer .padded {
  width: 464px;
}
.footer td {
  color: #808080;
  font-size: 12px;
  line-height: 20px;
}
.footer td b,
.footer td strong {
  font-weight: normal;
}
.footer .contents {
  background-color: #ebe7e1;
}
.footer .footer-container {
  width: 464px;
}
.footer .footer-container .column-social,
.footer .footer-container .column-details {
  vertical-align: top;
}
.footer .footer-container .column-social td,
.footer .footer-container .column-details td {
  text-align: left;
}
.footer .footer-container .column-details {
  padding: 40px 0 75px 0;
}
.footer .footer-container .column-social {
  padding: 41px 0 75px 80px;
}
.footer .social {
  width: 130px;
}
.footer .social a {
  text-decoration: none;
}
.footer .social .social-icon {
  width: 30px;
}
.footer .social .social-text {
  width: 100px;
  letter-spacing: 0.15em;
  font-size: 10px;
  line-height: 12px;
  vertical-align: middle;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  color: #38434d;
  text-shadow: 0 1px 0 #ffffff;
}
.footer .social-space {
  font-size: 10px;
  line-height: 10px;
}
.footer .prefs a {
  color: #636465;
}
.footer .prefs a:hover {
  color: #38434d !important;
}
.footer .hide {
  display: block;
  width: 100%;
}
.footer a {
  color: #38434d;
  display: inline-block;
  text-decoration: underline;
}
.footer a img {
  vertical-align: text-top;
}
@media (min-width: 0) {
  body {
    background-color: #ebe7e1;
  }
}
@media only screen and (max-width: 620px) {
  [class*=wrapper] .one-col .column-top {
    font-size: 32px !important;
    line-height: 32px !important;
  }
  [class*=wrapper] .one-col .column-bottom {
    font-size: 10px !important;
    line-height: 10px !important;
  }
  [class*=wrapper] .one-col-feature {
    width: 320px !important;
  }
  [class*=wrapper] .one-col-feature .column-top {
    font-size: 32px !important;
    line-height: 32px !important;
  }
  [class*=wrapper] .one-col-feature .column-bottom {
    font-size: 10px !important;
    line-height: 10px !important;
  }
  [class*=wrapper] .one-col-feature blockquote {
    background-image: url(https://i3.createsend1.com/static/eb/master/06-journal/images/blockquote-bottomright@2x.gif);
    background-size: 16px!important;
    padding: 0!important;
  }
  [class*=wrapper] .one-col-feature blockquote p {
    font-size: 16px!important;
    line-height: 24px;
    color: #ffffff;
  }
  [class*=wrapper] .one-col-feature blockquote p:first-child {
    background-image: url(https://i4.createsend1.com/static/eb/master/06-journal/images/blockquote-topleft@2x.gif);
    background-size: 16px!important;
  }
  [class*=wrapper] .column-wider,
  [class*=wrapper] .column-narrower {
    display: block;
    width: 320px !important;
  }
  [class*=wrapper] table[class*="one-col"],
  [class*=wrapper] td.last {
    margin-bottom: 22px !important;
  }
  [class*=wrapper] .spacer {
    display: none!important;
  }
  [class*=wrapper] .padded {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  [class*=wrapper] .padded .image-frame {
    padding: 8px!important;
  }
  [class*=wrapper] h1 {
    font-size: 22px!important;
    line-height: 28px!important;
    margin-bottom: 18px!important;
  }
  [class*=wrapper] h2 {
    font-size: 16px!important;
    line-height: 22px!important;
    margin-bottom: 16px!important;
  }
  [class*=wrapper] h3 {
    font-size: 16px!important;
    line-height: 24px!important;
    margin-bottom: 14px!important;
  }
  [class*=wrapper] p,
  [class*=wrapper] ol,
  [class*=wrapper] ul {
    font-size: 14px!important;
    line-height: 22px!important;
    margin-bottom: 22px!important;
  }
  [class*=wrapper] ol,
  [class*=wrapper] ul {
    margin-left: 19px!important;
  }
  [class*=wrapper] li {
    margin-bottom: 11px!important;
    padding: 0!important;
  }
  [class*=wrapper] blockquote {
    font-size: 14px !important;
    line-height: 22px !important;
    margin: 0 0 21px 0!important;
    padding-left: 14px !important;
  }
  [class*=wrapper] .btn {
    margin-bottom: 22px!important;
  }
  [class*=wrapper] .btn a {
    font-size: 12px!important;
    width: auto!important;
    display: block!important;
  }
  [class*=wrapper] .two-col .column-narrower h2,
  [class*=wrapper] .three-col .column h2,
  [class*=wrapper] .three-col .column h2 {
    margin-bottom: 16px!important;
  }
  [class*=wrapper] .two-col .column-narrower .btn,
  [class*=wrapper] .three-col .column .btn,
  [class*=wrapper] .three-col .column .btn {
    margin-bottom: 21px!important;
  }
  [class*=wrapper] .gutter {
    display: block!important;
    font-size: 20px;
    line-height: 20px;
    height: 20px!important;
  }
  [class*=wrapper] .header .logo {
    font-size: 24px !important;
    line-height: 1.3em !important;
    margin-bottom: 0 !important;
  }
  [class*=wrapper] .header .logo img {
    display: inline-block !important;
    max-width: 240px !important;
    height: auto!important;
  }
  [class*=wrapper] .contents table:nth-last-child(2) td h1:last-child,
  [class*=wrapper] .contents-dark table:nth-last-child(2) td h1:last-child,
  [class*=wrapper] .contents table:nth-last-child(2) td h2:last-child,
  [class*=wrapper] .contents-dark table:nth-last-child(2) td h2:last-child,
  [class*=wrapper] .contents table:nth-last-child(2) td h3:last-child,
  [class*=wrapper] .contents-dark table:nth-last-child(2) td h3:last-child,
  [class*=wrapper] .contents table:nth-last-child(2) td p:last-child,
  [class*=wrapper] .contents-dark table:nth-last-child(2) td p:last-child,
  [class*=wrapper] .contents table:nth-last-child(2) td ol:last-child,
  [class*=wrapper] .contents-dark table:nth-last-child(2) td ol:last-child,
  [class*=wrapper] .contents table:nth-last-child(2) td ul:last-child,
  [class*=wrapper] .contents-dark table:nth-last-child(2) td ul:last-child {
    Margin-bottom: 22px !important;
  }
  [class*=wrapper] .webversion,
  [class*=wrapper] .preheader table {
    width: 320px !important;
  }
  [class*=wrapper] .header {
    width: 280px!important;
  }
  [class*=wrapper] .preheader .webversion,
  [class*=wrapper] .header .logo a {
    text-align: center !important;
  }
  [class*=wrapper] .footer .footer-container {
    width: 280px !important;
  }
  [class*=wrapper] .footer .footer-container .column.last {
    padding-left: 0px !important;
    padding-top: 0px !important;
  }
  [class*=wrapper] .footer *[class*="column"] {
    padding-top: 15px!important;
    padding-bottom: 15px!important;
  }
  [class*=wrapper] .footer *[class*="column"] td {
    text-align: center!important;
  }
  [class*=wrapper] .footer *[class*="column"] hr {
    margin: 10px auto !important;
  }
  [class*=wrapper] .footer *[class*="column"] .social-text {
    width: auto!important;
  }
  [class*=wrapper] .footer *[class*="column"] .button {
    margin-bottom: 5px!important;
  }
  [class*=wrapper] .footer *[class*="column"] table td a {
    color: inherit;
  }
  [class*=wrapper] .footer *[class*="column"] table td a:hover {
    color: #38434d;
  }
  [class*=wrapper] .full-width {
    width: 320px !important;
  }
  [class*=wrapper] .footer *[class*="column"],
  [class*=wrapper] .preheader *[class*="column"] {
    display: block !important;
    text-align: center;
  }
  [class*=wrapper] .footer *[class*="column"] table,
  [class*=wrapper] .preheader *[class*="column"] table,
  [class*=wrapper] .footer *[class*="column"] hr,
  [class*=wrapper] .preheader *[class*="column"] hr {
    margin-left: auto;
    margin-right: auto;
  }
  [class*=wrapper] .footer *[class*="column"] table.social,
  [class*=wrapper] .preheader *[class*="column"] table.social {
    margin: 0 auto!important;
    float: none!important;
  }
  [class*=wrapper] .footer .column-social,
  [class*=wrapper] .preheader .column-social {
    padding-left: 0!important;
    padding-right: 0!important;
  }
  [class*=wrapper] .footer .title,
  [class*=wrapper] .preheader .title {
    display: none!important;
  }
}
</style>
    <style type="text/css">
    </style>
    <!--[if (gte mso 9)|(IE)]>
    <style>
      li {
        padding-left: 5px !important;
        margin-left: 10px !important;
      }
      ol, ul {
        margin-left: 20px !important;
      }
      .image-bottom, .spacer, .border, .column-top, .column-bottom {
        mso-line-height-rule: exactly !important;
      }
    </style>
    <![endif]-->
  <meta name="robots" content="noindex,nofollow"></meta>
<meta property="og:title" content="Mentoring NYC Signup"></meta>
</head>
  <body class="emb-font-stack-default" style="margin-top: 0;margin-bottom: 0;margin-left: 0;margin-right: 0;padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;min-width: 100%" bgcolor="#ffffff">
    <center class="wrapper" style="background-color: #f2efe9;width: 100%;min-width: 620px;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%">
      <table class="wrapper" style="border-collapse: collapse;border-spacing: 0;background-color: #f2efe9;width: 100%;min-width: 620px;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;table-layout: fixed">
        <tbody><tr>
          <td style="padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;vertical-align: middle">
            <table class="preheader" style="border-collapse: collapse;border-spacing: 0;width: 100%;background-color: #ebe7e1;color: #808080;Margin-left: auto;Margin-right: auto">
              <tbody><tr>
                <td style="padding-top: 10px;padding-bottom: 12px;padding-left: 0;padding-right: 0;vertical-align: middle">
                  <center>
                    <table class="full-width" style="border-collapse: collapse;border-spacing: 0;width: 600px">
                      <tbody><tr>
                        <td class="title column" style="padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;vertical-align: middle;text-align: left;color: #808080;font-size: 10px;line-height: 14px;text-decoration: none;width: 425px;font-family: sans-serif">
                          
                        </td>
                        <td class="webversion column" style="padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;vertical-align: middle;text-align: right;color: #808080;font-size: 10px;line-height: 14px;text-decoration: none;width: 175px;font-family: sans-serif" align="right"></td>
                      </tr>
                    </tbody></table>
                  </center>
                </td>
              </tr>
              <tr><td class="preheader-buffer" style="padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;vertical-align: middle;font-size: 20px;line-height: 20px;background-color: #f2efe9;background-image: none;background-attachment: scroll;background-repeat: repeat;background-position: top left">&nbsp;</td></tr>
            </tbody></table>
          </td>
        </tr>
        <tr>
          <td style="padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;vertical-align: middle">
            <center>
              
            </center>
          </td>
        </tr>
      </tbody></table>
      
          <table class="wrapper" style="border-collapse: collapse;border-spacing: 0;background-color: #f2efe9;width: 100%;min-width: 620px;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;table-layout: fixed">
            <tbody><tr>
              <td style="padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;vertical-align: middle">
                <center>
                  <table class="one-col" style="border-collapse: collapse;border-spacing: 0;Margin-left: auto;Margin-right: auto;width: 600px">
                    <tbody><tr>
                      <td class="column" style="padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;vertical-align: middle;text-align: left">
                        <table class="contents" style="border-collapse: collapse;border-spacing: 0;width: 100%;background-color: #ffffff">
                          <tbody><tr>
                            <td style="padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;vertical-align: middle">
                              
              <div class="image" style="font-size: 0;Margin-bottom: 22px" align="center">
                <img class="gnd-corner-image gnd-corner-image-center gnd-corner-image-top" style="border-left-width: 0;border-top-width: 0;border-bottom-width: 0;border-right-width: 0;-ms-interpolation-mode: bicubic;display: block;max-width: 640px" src="https://i1.createsend1.com/ei/d/5D/CA3/1EA/113743/csfinal/6300175460_97a442c5d5_z.jpg" alt="" width="600" height="399">
              </div>
            
                                <table style="border-collapse: collapse;border-spacing: 0" width="100%">
                                  <tbody><tr>
                                    <td class="padded" style="padding-top: 0;padding-bottom: 0;padding-left: 92px;padding-right: 92px;vertical-align: middle;text-align: left">
                                      
                                      <h1 style="Margin-top: 0;font-weight: normal;color: #38434d;font-family: Georgia, serif;font-size: 22px;line-height: 28px;Margin-bottom: 18px">Thank you <%= @name %>!</h1><p style="Margin-top: 0;font-weight: 400;text-rendering: optimizelegibility;font-size: 14px;line-height: 22px;color: #7c7e7f;font-family: sans-serif;Margin-bottom: 22px">Your signup was received and we are seeking a mentor for you. &nbsp;If you have any questions in the meantime, feel free to contact us to info@mentoring-nyc.com.</p><p style="Margin-top: 0;font-weight: 400;text-rendering: optimizelegibility;font-size: 14px;line-height: 22px;color: #7c7e7f;font-family: sans-serif;Margin-bottom: 22px">Cheers,</p><p style="Margin-top: 0;font-weight: 400;text-rendering: optimizelegibility;font-size: 14px;line-height: 22px;color: #7c7e7f;font-family: sans-serif;Margin-bottom: 22px">The Mentoring NYC Team</p>
          
                                    </td>
                                  </tr>
                                </tbody></table>
                              
                              <div class="column-bottom" style="font-size: 32px;line-height: 32px">&nbsp;</div>
                            </td>
                          </tr>
                        </tbody></table>
                      </td>
                    </tr>
                  </tbody></table>
                </center>
              </td>
            </tr>
          </tbody></table>
        
          <div class="spacer" style="font-size: 1px;line-height: 60px">&nbsp;</div>
        
      <table class="wrapper" style="border-collapse: collapse;border-spacing: 0;background-color: #f2efe9;width: 100%;min-width: 620px;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;table-layout: fixed">
        <tbody><tr>
          <td style="padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;vertical-align: middle">
            <center>
              <table class="footer" style="border-collapse: collapse;border-spacing: 0;Margin-left: auto;Margin-right: auto;width: 100%;background-color: #ebe7e1">
                <tbody><tr>
                  <td style="padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;vertical-align: middle;color: #808080;font-size: 12px;line-height: 20px;font-family: sans-serif">
                    <center>
                      <table class="one-col" style="border-collapse: collapse;border-spacing: 0;Margin-left: auto;Margin-right: auto;width: 600px">
                        <tbody><tr>
                          <td class="column" style="padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;vertical-align: middle;text-align: left;color: #808080;font-size: 12px;line-height: 20px;font-family: sans-serif">
                            <table class="contents" style="border-collapse: collapse;border-spacing: 0;width: 100%;background-color: #ebe7e1">
                              <tbody><tr>
                                <td class="padded" style="padding-top: 0;padding-bottom: 0;padding-left: 92px;padding-right: 92px;vertical-align: middle;color: #808080;font-size: 12px;line-height: 20px;text-align: left;width: 464px;font-family: sans-serif">
                                  <table class="footer-container" style="border-collapse: collapse;border-spacing: 0;width: 464px">
                                    <tbody><tr>
                                      <td class="column-details" style="padding-top: 40px;padding-bottom: 75px;padding-left: 0;padding-right: 0;vertical-align: top;color: #808080;font-size: 12px;line-height: 20px;font-family: sans-serif">
                                        <table style="border-collapse: collapse;border-spacing: 0">
                                          <tbody><tr>
                                            <td class="prefs" style="padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;vertical-align: middle;color: #808080;font-size: 12px;line-height: 20px;font-family: sans-serif;text-align: left">
                                              <div class="address" style="font-family: sans-serif">Mentoring NYC</div>
                                              <div class="hr" style="font-size: 1px;line-height: 1px;padding-bottom: 10px;font-family: sans-serif;padding-top: 10px;padding-left: 0;padding-right: 0;display: block"><hr style="border-left-width: 0;border-top-width: 0;border-bottom-width: 0;border-right-width: 0;height: 1px;width: 13px;color: #cab790;background-color: #cab790;text-align: left;Margin-left: 0"></div>
                                              <div class="permission" style="font-family: sans-serif">You recently signed up for Mentoring NYC</div>
                                            </td>
                                          </tr>
                                        </tbody></table>
                                      </td>
                                      <td class="column-social" style="padding-top: 41px;padding-bottom: 75px;padding-left: 80px;padding-right: 0;vertical-align: top;color: #808080;font-size: 12px;line-height: 20px;font-family: sans-serif">
                                        <table class="social" style="border-collapse: collapse;border-spacing: 0;width: 130px" align="right">
                                          <tbody><tr>
                                            <td style="padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;vertical-align: middle;color: #808080;font-size: 12px;line-height: 20px;font-family: sans-serif;text-align: left">
                                              
                                              <table class="button" style="border-collapse: collapse;border-spacing: 0">
                                                <tbody><tr>
                                                  <td class="social-icon" style="padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;vertical-align: middle;color: #808080;font-size: 12px;line-height: 20px;font-family: sans-serif;width: 30px;text-align: left"></td>
                                                  <td class="social-text" style="padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;vertical-align: middle;color: #38434d;font-size: 10px;line-height: 12px;font-family: sans-serif;width: 100px;letter-spacing: 0.15em;font-weight: bold;-webkit-font-smoothing: antialiased;text-shadow: 0 1px 0 #ffffff;text-align: left"></td>
                                                </tr>
                                                <tr><td class="social-space hide" style="padding-top: 0;padding-bottom: 0;padding-left: 0;padding-right: 0;vertical-align: middle;color: #808080;font-size: 10px;line-height: 10px;display: block;width: 100%;font-family: sans-serif;text-align: left" colspan="2">&nbsp;</td></tr>
                                              </tbody></table>
                                              
                                            </td>
                                          </tr>
                                        </tbody></table>
                                      </td>
                                    </tr>
                                  </tbody></table>
                                </td>
                              </tr>
                            </tbody></table>
                          </td>
                        </tr>
                      </tbody></table>
                    </center>
                  </td>
                </tr>
              </tbody></table>
            </center>
          </td>
        </tr>
      </tbody></table>
    </center>
</body></html>
