.container-fluid.signup-steps
  .row
    .col-xs-12.col-sm-10.col-md-8.col-lg-6
      %h2
        Thank you for the interest and welcome!
      
      %p
        We are looking forward to watching the community grow and matching people
        together. One of the steps to our signup, and helping connect people, is
        explaining our vision of the community and requesting you submit a profile.
        The profile includes a short bio, availability, and current skiils. All
        of this information will help us connect mentors with students.

      %h3
        Defining the community

      %ul
        %li
          Mentors

          %p
            Mentors are all around us, offering insight and teaching as a vehicle
            to
            %i improve others.
            We seek mentors with a
            %i desire to share
            and who prioritize their time to make that happen. It is, in the end,
            about helping students and increasing education in the community.

        %li
          Students

          %p
            Like mentors, everyone can be student. All you need is
            %i passion, 
            %i dedication,
            and 
            %i drive;
            these are the only limits. For that reason, we push the
            importance of setting goals and constantly reflecting on progress.
            Defining education as a priority is important and helps propel
            growth.

      %h3
        Next steps

      %ul
        %li
          %span.fa.fa-github.fa-2x
          Authenticate with Github


          %p
            We ask that you authenticate with github.  This helps verify your
            identity then gather associated public information (name, email,
            picture, and location) and public projects.

        %li
          %span.fa.fa-check-square-o
          Define goals, availability, and skills

          %p
            We ask for your goals, availability, and current skills.  This
            helps us in matching you with mentors or students who can benefit from
            your background.

      .action
        %h3
          Let's get started!
          
        %p
          %a{href: '/signup/student', class: 'btn btn-primary'}<
            Be a Student

          %a{href: '/signup/mentor', class: 'btn btn-primary'}<
            Be a Mentor
