.container-fluid.signup-steps
  .row
    .col-xs-12.col-sm-10.col-md-8.col-lg-6
      %h2
        Thank you for your interest and welcome!
      
      %p
        We are looking forward to watching our community grow and matching people
        together.  One of the steps to our signup, and helping connect people, is
        creation of a profile.  This will detail what you are seeking as a
        student or mentor and help show potential matches in our community.

      %h3
        Next steps

      %ul
        %li
          %span.fa.fa-github.fa-2x
          Authenticate with Github


          %p
            We ask that you authenticate with github.  This helps us verify your
            identity then gather associated public information (name, email, picture,
            and location) and public projects.

        %li
          %span.fa.fa-check-square-o
          Define goals, availability, and skills

          %p
            We also ask for your goals, availability, and current skills.  This
            helps us in matching you with mentors or students who can benefit from
            your background.

      .action
        %h3
          Let's get started!
          
        %p
          %a{href: '/signup/student', class: 'btn btn-default'}<
            Student

          %a{href: '/signup/mentor', class: 'btn btn-default'}<
            Mentor
