.container-fluid.signup-steps
  .row
    .col-xs-12.col-sm-10.col-md-8.col-lg-6
      %h2
        Thank you for signing up!
      
      %p
        Some text here about signup

      %h3
        Next steps

      %ul
        %li
          -#%span.fa.fa-github.fa-2x
          Someone to contact you


          %p
            Some text about contact

        %li
          %span.fa.fa-check-square-o
          Other step

          %p
            Some text about other step

